body {
    font-family: 'Circe';
    font-size: 14px;

}

.chevron {
    display: inline-block;
    background: url(../img/chevron-right.png);
    width: 20px;
    margin: -6px 0;
    margin-left: 8px;
    height: 20px;
}

.header-wrapper {
    max-width: 100%;
    background: #20263A;
}

header {
    background: #242940;
    max-height: 81px;
    color: #ffffff;
}

.top-header {
    max-width: 1140px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.menu-button {
    width: 110px;
    min-height: 40px;
    line-min-height: 21px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    background: #272E47;
    border: 1px solid transparent;
    border-radius: 5px;
}

.menu-button-column {
    padding: 20px 0px 20px 20px;
}

.menu-list {
    position: absolute;
    left: 6px;
    top: 7px;
}

.address {
    padding: 20px 0px 20px 70px;
}

.address p {
    margin-bottom: 5px;
    /* display: block; */
}

.address a {
    color: #9FA4B8;
}

.address-map-link {
    /* margin-top: -1px; */
    font-weight: normal;
    font-size: 13px;
    line-min-height: 19px;
    display: inline-flex;
    align-items: flex-start;
    color: #9FA4B8;
}

.address-map-link img {
    margin-right: 8px;
}

.schedule-info {
    /* margin-top: -8px; */
    margin-left: 13px;
    font-weight: normal;
    font-size: 13px;
    line-min-height: 19px;
    display: inline-flex;
    align-items: flex-start;
    color: #9FA4B8;
}

.schedule-info img {
    margin-right: 8px;
}

.phone {
    padding: 20px 0px 20px 70px;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-min-height: 21px;
}

.phone a {
    color: #ffffff;
}

.phone-icon {
    font-weight: normal;
    font-size: 13px;
    line-min-height: 19px;
    color: #9FA4B8;
    letter-spacing: normal;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}

.phone-icon img {
    margin-right: 8px;
}

/* позвонить нам */
.call-us {
    padding: 20px 0px 20px 47px;
}

.call-us button {
    width: 180px;
    min-height: 40px;
    background: linear-gradient(254.74deg, #FED578 -2.95%, #FFEA7C 100%);
    /* Тень кнопок */
    box-shadow: 0px 12px 25px rgba(255, 234, 124, 0.15);
    border-color: transparent;
    border-radius: 100px;
}

.call-us button:hover {
    background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
}

.first-screen-wrapper {
    margin: 0 auto;
    padding-top: 127px;
    max-width: 1440px;
    min-height: 950px;
    background: url(../img/background-first-screen.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.first-screen-description {
    font-weight: 800;
    font-size: 34px;
    /* font-size: 2.125em; */
    line-min-height: 160%;
    max-width: 560px;
    min-height: 324px;
    color: #ffffff;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.first-screen-description span p {
    /* color: #FFEA7C; */
    margin-bottom: 0;
    background: -webkit-linear-gradient(128.71deg, #FFEE95 12.42%, #FFDF6B 44.71%, #FFEA7C 53.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-screen-second-description {
    max-width: 521px;
    min-height: 87px;

    font-style: normal;
    /* font-weight: bold; */
    font-size: 16px;
    line-min-height: 180%;
    color: #9FA4B8;
}

.first-screen-second-description b {
    color: #ffffff;
}

.first-screen-button {
    width: 320px;
    min-height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background: linear-gradient(254.74deg, #FED578 -2.95%, #FFEA7C 100%);
    /* Тень кнопок */
    box-shadow: 0px 12px 25px rgba(255, 234, 124, 0.15);
    border-color: transparent;
    border-radius: 100px;
}

.first-screen-button:hover {
    background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
}

.first-screen-cost {
    padding-top: 70px;
}

.first-screen-label {
    /* align-self: flex-end; */
    /* display: flex; */
    margin-left: auto;
    width: 240px;
    padding-left: 60px;
    min-height: 80px;

}

.first-screen-text {
    /* text-align: start; */
    margin-top: -250px;
}

/* Приемущества */

.benefits {
    max-width: 1160px;
    min-height: 144px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: -60px;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-min-height: 140%;
    color: #646875;

}

.benefits .col {
    border-right: 1px solid #F2F2F2;
    /* Крайняя граница каждого блока приемуществ */
}

/* Главный блок приемущества */
.benefits-first-section {
    z-index: 5;
    max-width: 1160px;
    min-height: 120px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

/* Второй блок под приемуществами */

.benefits-second-substrate {
    max-width: 1120px;
    min-height: 125px;
    background: #FDFDFD;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
    z-index: 2;
    top: -110px;
    margin-left: auto;
    margin-right: auto;
}

/* Третий блок под приемуществами */
.benefits-third-substrate {
    max-width: 1080px;
    min-height: 144px;
    background: #FCFCFC;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    top: -240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

/* родители блока приемущства */
.benefit-parent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 233px;
    flex-direction: row;
}

/* приемущества */
.benefit-image {
    margin: 20px 0 0 20px;
}

.benefit-number {
    font-size: 28px;
    line-min-height: 130%;
    width: 100px;
    min-height: 50px;
    margin-left: 35px;
    margin-top: 20px;
}

.benefit-name {
    font-style: normal;
    font-weight: 350;
    width: 150px;
    min-height: 50px;
    font-size: 14px;
    line-min-height: 140%;
    margin: -20px 0 0 98px;
}

.certificates {
    max-width: 1160px;
    padding-top: -50px;
    min-height: 900px;
}

.our-certificates {
    /* padding-top: 150px; */
    text-align: center;
}

.our-certificates-button button {
    background: linear-gradient(237.15deg, #7AC7FF 27.31%, #76E6FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #7AC7FF;
    width: 180px;
    min-height: 42px;
}

.our-certificates-button button:hover {

    border: 2px solid rgb(98, 162, 207);
}

.high-certificates {
    padding-top: 26px;
    text-align: center;
}

.certificates-extinguisher img {
    margin-top: -80px;
}

.high-certificates h2 {
    line-min-height: 160%;
    font-weight: normal;
    font-size: 38px;
}

.certificates-helmet img {
    margin-top: -65px;
}

.certificates-slider {
    min-height: 430px;
    margin: 50px auto 0 auto;
    text-align: center;

}

/* .slider img {
    min-height: 200px!important;
} */

.other-benefits-first-wrapper {
    max-width: 100%;
    background: #1F2433;
    min-height: 740px;
}

.other-benefits-second-wrapper {
    max-width: 1440px;
    min-height: 740px;
    margin: 0 auto;
    background: url(../img/other-benefits.jpg);
}

.other-benefits {
    max-width: 1160px;
}

.benefits-of-having {
    color: #ffffff;
    font-style: normal;
    font-weight: 350;
    font-size: 38px;
    padding-top: 100px;
}

.benefits-of-having h2 {
    /* margin: 0 auto; */
    text-align: center;
}

.other-benefits-sections {
    margin-top: 80px;
    width: 260px;
    min-height: 130px;
    border: 1px solid #2D354D;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 20px 20px 0 20px;
}

.other-benefits-sections-description {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-min-height: 160%;
    color: #ffffff;
}

.other-benefits-sertificates {
    /* text-align: center; */
    margin-top: -20px;
    margin: 0 auto;
}

.our-service {
    max-width: 1209px;
    /* min-height: 1238px; */
    padding-top: 120px;

}

.our-service-row {
    margin-top: 120px;
    color: #9EA2B3;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-min-height: 170%;
    padding-top: 30px;
    max-width: 1083px;
    margin: 0 auto;
}

.our-service-row-first-section h2 {
    font-style: normal;
    font-weight: 350;
    font-size: 38px;
    line-min-height: 160%;
    color: #1F2433;
}

.our-service-row-first-section {
    font-style: normal;
    font-weight: 350;
    font-size: 38px;
    line-min-height: 160%;
    color: #1F2433;

}

.our-service-row-second-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-right: 50px;

}

.our-service-row img {
    /* float: left; */
    margin-right: 20px;
}

.choose-service-section {
    padding-top: 50px;
    max-width: 1083px;
    margin: 0 auto;
}

.service {}

.choose-service-section button:hover {
    background: linear-gradient(248.94deg, #FED578 -2.95%, #FFEA7C 100%);
    box-shadow: 0px 20px 35px rgba(255, 234, 124, 0.45);
}

.service-description {
    font-size: 15px;
    line-min-height: 22px;
    padding-left: 10px;
}

.service-image img {
    padding-right: 10px;
    margin-bottom: -10px;
}

.service-image-addition-margin {
    margin-bottom: 7px;
}

.choose-service-section button {
    border: 1px solid #E5EFF7;
    box-sizing: border-box;
    border-radius: 100px;
    /* max-width: 305px; */
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
}

.choose-service-section a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.carts-wrapper {
    max-width: 1209px;
    /* max-height: 460px; */
    min-height: 460px;
    padding-top: 80px;
    text-align: center;
    position: relative;

}
.mobile-menu {
    display: none;
    position: relative;
    left: 9%;
}
.navbar-dark .navbar-toggler {
    border-color: transparent;
}
.navbar-collapse {
    text-align: center;
}
.nav-panel-mobil{
    left: 0;
}
.burger-menu-btn{
    display: none;
  width: 3rem;
  height: 2.5rem;
  background-color: #20263A;
  border-radius: 5px;
  position:absolute;
  top: 0.5rem;
  right:2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
}
.mobile-logo{
    display:none;
    position:absolute;
    top:0;
    left:0.5rem;
}
.burger-menu {
    height:60px;
}
.burger-menu img{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 3rem;
  height: 2.7rem;
    display: none;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}

.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);
	
}

.nav-panel-mobil{
	position: fixed;
	background-color: #fff;
	height:100vh;
	z-index: 99;
	transition:.5s;
	width: 100%;
	text-align: center;
	transform: translateX(-100%);
	font-size:20px;
	font-weight:bold;
	padding-top:1rem;
	top: 0;
	display: flex;
	align-items: center;
}
.nav-panel-mobil-active{
	transform: translateX(0);
}



@media only screen and (max-width: 1024px) {
    .call-us {
        display: none !important;
    }

    .form-women-background {
        top: -116px !important;
    }
}

@media only screen and (max-width: 990px) {
    .card-deck {
        margin: 0 auto !important;
        /* display: block!important;
        flex: none!important; */
        flex-flow: column !important;
    }
    .head-desctop{
        display:none;
    }
    .burger-menu{
        display:block;
    }
    .choose-service-section button {
        margin: 10px auto;
        width: 100%;
    }

    .phone {
        display: none;
    }

    .menu-button-column {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }
    
   
    /* Icon 1 */

    .animated-icon1,
    .animated-icon2,
    .animated-icon3 {
        width: 30px!important;
        height: 20px!important;
        position: relative!important;
        margin: 0px!important;
        -webkit-transform: rotate(0deg)!important;
        -moz-transform: rotate(0deg)!important;
        -o-transform: rotate(0deg)!important;
        transform: rotate(0deg)!important;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon1 span,
    .animated-icon2 span,
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon1 span {
        background: #e65100;
    }

    .animated-icon2 span {
        background: #e3f2fd;
    }

    .animated-icon3 span {
        background: #f3e5f5;
    }

    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    /* Icon 3*/

    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon2 span:nth-child(2),
    .animated-icon2 span:nth-child(3) {
        top: 10px;
    }

    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }

    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    /* Icon 4 */

    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

   
}

    @media only screen and (max-width: 1200px) {
        .list-group-horizontal {
            flex-direction: column !important;
        }
    }

    @media only screen and (max-width: 600px) {
        .cart-section-substrate {
            min-height: auto !important;
        }
        .mobile-logo{
            display:block;
        }
        .img-mobile{
            width:75%;
        }
    .head-desctop{
        display:none;
    }
    .burger-menu{
        display:block;
    }
    .burger-menu-btn{
        display:block;
    }
        .logo {
            width: 60%;
        }
    .about-company-name{
        padding:10px 0!important;
        left:0;
    }
    .more-about-company{
        margin-top:0!important;
        height:100%;
    }
        .mobile-menu {
            display: block !important;
            left: 15%!important;
        }

        .more-about-company {
            margin-top: -80px;
        }

        .page-service-learning {
            padding-top: 20px !important;
        }

        .page-service-kwnoladge {
            padding-top: 40px !important;
        }

        .benefits-of-our-education-title-row {
            padding-top: 40px !important;
        }

        .about-company-gallery {
            padding-top: 40px !important;
        }

        .our-strategy {
            padding-top: 40px !important;
        }

        h1 {
            font-size: 28px !important;
        }

        h2 {
            font-size: 26px !important;
        }

        .dropdown-menu {
            /* position: fixed;
       width: 100%; */

        }

        .address {
            display: none;
        }

        .happy-clients-row {
            padding-top: 70px !important;
        }

        .happy-clients h2 {
            font-size: 28px !important;
        }

        .high-certificates h2 {
            font-size: 28px !important;
        }

        .our-service-row-first-section h2 {
            font-size: 28px;
        }

        .our-service-row-second-section {
            display: block;
        }

        .choose-service-section button {
            margin: 10px auto;
            width: 100%;
        }

        .phone {
            display: none;
        }

        .menu-button img {
            margin-right: 10px !important;
        }

        .call-us {
            display: block !important;
            margin: 0 auto;
            padding: 20px 0px 20px 0px !important;
        }

        .fire-safety-list-item {}

        .form-col-margin {
            /* padding-left: 5px!important;
        padding-right: 5px; */
        }

        .form-row>.col,
        .form-row>[class*=col-] {
            padding-left: 5px;
            padding-right: 5px;
        }

        .cart-section:hover+.cart-section-hover {
            margin: -20px auto !important;

        }

        .form-wrapper-header-for-mobile {
            max-width: 100% !important;
            flex: none !important;
            text-align: center !important;
            margin-left: 0;
        }

        .personal-education-cart {
            margin-top: 35px !important;
        }

        .form-wrapper-section-for-mobile {
            max-width: 100% !important;
            flex: none !important;
        }

        .form-women-background {
            display: none !important;
        }

        .services-second-button {
            margin-left: 0 !important;
            align-self: center;
        }

        .defending-button-link {
            padding-top: 30px;
        }

        .menu-button-column {
            margin: 0 auto !important;
        }

        .cart-section {
            margin: 15px auto;
        }

        .studying-programs {
            display: none !important;
        }

        .strategy-row-wrapper {
            background: none !important;
        }

        .first-screen-label {
            display: none !important;
        }

        .first-screen-text {
            margin: 0;
        }

        .certificates-helmet img {
            margin-top: 0;
        }

        header {
            /* min-height: auto;  */
            max-height: inherit;
        }

        .personal-education-row {
            padding-top: 40px !important;
        }

        .services-page-wrapper {
            padding-bottom: 40px;
        }

        .services-page-wrapper h2 {
            min-height: 90px !important;
        }

        .price-row {
            padding-top: 20px !important;
        }

        .extra-cell {
            height: 108px !important;
        }

        .table-first-row {
            padding-right: 5px !important;
            padding-left: 10px !important;
            padding-top: 10px !important;
            width: 30% !important;
        }

        .laws-list {
            padding-top: 40px !important;
        }

        .first-screen-wrapper {
            padding-top: 40px !important;
        }

        .certificates {
            margin-top: -115px;
        }

        .certificates-extinguisher img {
            margin-top: 0;
        }

        /* .client-logo-wrapper img {
        width: 10%;
        height: auto;
    } */

        .service-page-button-links-wrapper {
            padding-bottom: 40px;
        }
    }

    @media only screen and (max-width: 700px) {
        .address {
            padding: 20px 0px 20px 10px !important;
        }
    }

    @media only screen and (max-width: 900px) {
        .cart-section-substrate {
            min-height: auto !important;
        }

        .client-logo-wrapper img {
            width: 100%;
            height: auto;
        }

        .laws-list {
            padding-top: 40px !important;
        }

        .certificates {
            margin-top: -115px;
        }

        .first-screen-wrapper {
            padding-top: 40px !important;
        }

        .price-row {
            padding-top: 20px !important;
        }

        .personal-education-row {
            padding-top: 40px !important;
        }

        .services-page-wrapper h2 {
            min-height: 90px !important;
        }

        .services-page-wrapper {
            padding-bottom: 40px;
        }

        .form-wrapper-background-for-mobile {
            display: none !important;
        }

        .personal-education-cart {
            margin-top: 35px !important;
        }

        .form-wrapper-section-for-mobile {
            max-width: 100% !important;
            flex: none !important;
        }

        .form-wrapper-header-for-mobile {
            max-width: 100% !important;
            flex: none !important;
            text-align: center !important;
            margin-left: 0;
        }

        .form-women-background {
            display: none !important;
        }

        .call-us {
            display: block !important;
            margin: 0 auto;
            padding: 20px 0px 20px 0px !important;
        }

        .strategy-row-wrapper {
            background: none;
        }

        .gallery-controls button {
            top: -3px !important;
            margin: 0 20px !important;
        }

        .cart-section {
            margin: 15px auto;
            margin-top: 30px !important;
        }

        .studying-programs {
            display: none !important;
        }

        header {
            /* min-height: auto;  */
            max-height: inherit;
        }

        .first-screen-label {
            display: none !important;
        }

        .first-screen-text {
            margin: 0;
        }

        .certificates-helmet img {
            margin-top: 0;
        }

        .certificates-extinguisher img {
            margin-top: 0;
        }

        .our-strategy {
            padding: 70px 0 0 0 !important;
        }
    }

    .client-logo-wrapper {
        margin: 0 auto;
    }

    .studying-programs {
        letter-spacing: 0.28em;
        text-transform: uppercase;
        color: #E4E7F2;
        font-weight: 800;
        text-align: center;
        font-size: 16px;
        line-min-height: 160%;
        min-height: 344px;
        max-height: 345px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }

    .cart-section {
        max-width: 360px;
        min-height: 344px;
        background: #ffffff;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
        border-radius: 15px;
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }

    .cart-section-number {
        position: relative;
        padding-top: 40px;

    }

    .cart-section-number-main-box {
        width: 160px;
        min-height: 160px;
        font-style: normal;
        position: relative;
        left: 28.89%;
        right: 28.89%;
        font-weight: bold;
        font-size: 42px;
        line-min-height: 160%;
        display: flex;
        align-items: center;
        text-align: center;
        /* border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 3px solid #1eeb4e; */
    }

    .cart-section-number-child-box {
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0px 14px 25px rgba(38, 58, 111, 0.06);
        border-radius: 60px;
        width: 100px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-section-number-first-value {
        color: #87f77b;
    }

    .cart-section-number-second-value {
        color: #7cd9fd;
    }

    .cart-section-number-third-value {
        color: #ff2959;
    }

    .cart-section-title {
        font-weight: bold;
        font-size: 18px;
        line-min-height: 160%;
        color: #1F2433;
        margin-top: 35px;
    }

    .cart-section-description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-min-height: 160%;
        color: #9EA2B3;
        margin-top: 7px;
    }

    .cart-section-substrate {
        width: 320px;
        min-height: 324px;
        background: #FEFEFE;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
        border-radius: 15px;
        position: relative;
        z-index: 1;
        top: -300px;
        margin: 0 auto;
    }

    .first-cart-border {
        background: url(../img/first-cart-border.png);
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .second-cart-border {
        background: url(../img/second-cart-border.png);
        background-size: cover;
        background-repeat: no-repeat;
        border: none;

    }

    .third-cart-border {
        background: url(../img/third-cart-border.png);
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .carts-wrapper a {
        text-decoration: none;
        color: #272C3A;
    }

    .carts-wrapper>.col {
        max-height: 400px;
    }

    .cart-section:hover+.cart-section-hover {
        display: flex;
    }

    .cart-section-hover:hover {
        display: flex;
    }

    .cart-section-hover {
        background: linear-gradient(254.74deg, #FED578 -2.95%, #FFEA7C 100%);
        box-shadow: 0px 15px 65px rgba(35, 78, 129, 0.1);
        border-radius: 15px;
        position: relative;
        z-index: 10;
        max-width: 360px;
        min-height: 80px;
        display: none;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-min-height: 160%;
        color: #272C3A;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .cart-section-hover img {
        margin-left: 20px;
    }

    .our-service-aditional-info {
        max-width: 1160px;
        /* min-height: 437px; */
        padding: 130px 0 0 30px;
        /* margin-top: -50px; */
    }

    .our-service-aditional-info a {
        color: #66D1FF;
    }

    .our-service-aditional-info p {
        margin-top: 30px;
        font-weight: 350;
        font-size: 18px;
        /* line-min-height: 180%; */
        color: #1F2433
    }

    .our-service-aditional-info img {
        margin-left: 15px;
    }

    .happy-clients-row {
        padding-top:80px;
    }

    .happy-clients {
        text-align: center;
        margin: 0 auto;
        font-weight: 350;
        line-height: 160%;
    }

    .happy-clients h2 {
        font-size: 38px;
    }

    .happy-client {
        padding-top: 70px;
    }

    .happy-client>.col {
        text-align: center;
    }

    .client-logo-wrapper {
        max-width: 260px;
        height: 190px;
        background: #FFFFFF;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.04);
        border-radius: 15px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .client-logo-wrapper img {
        margin: 0 auto;
    }

    .client-logo-wrapper-substrate {
        max-width: 240px;
        height: 101px;
        background: #ffffff;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
        border-radius: 15px;
        position: relative;
        top: -90px;
        z-index: 1;
        margin: 0 auto;
    }

    footer {
        max-width: 100%;
        background: #272C3A;
    }

    .footer-row {
        padding: 54px 0 73px 0;
    }

    .footer-row img {
        margin: 0 0 18px 0;
    }

    .footer-row a {
        color: #ffffff;
    }

    .footer-row a:hover {
        color: #FED578;
    }

    .footer-row-links .nav-link {
        padding: 0.3rem 0rem;
    }

    .footer-row h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        color: #ffffff;
        margin-bottom: 25px;
    }

    .copyright-wrapper {
        background: #1F2433;
        max-width: 100%;
        font-size: 13px;
    }

    .copyright-row {
        padding: 30px 0 10px 0;
    }

    .copyright {
        max-width: 1160px;
        color: #8D94B0;
        
    }
    .brand h5{
        color: #8D94B0;
        font-size: 14px;
    }
    .brand h5>a{
       text-decoration: none;
    }

    .footer-row-contacts,
    .footer-row-contacts-email a {
        color: #8D94B0;
    }

    .footer-row-contacts div {
        padding: 5px 0 10px 0;
    }

    /* О компании */

    .about-company-wrapper {
        background: linear-gradient(rgba(12, 13, 37, 0.35), rgba(12, 13, 37, 0.35)), url(../img/about-company-backgound.jpg);
        margin: 0 auto;
        min-height: 324px;
        max-height: auto;
        color: #FFFFFF;
        text-align: center;
        max-width: 1440px;
        /* background-image: url(../img/about-company-backgound.jpg; */
    }

    .about-company-row {
        padding: 100px 0 100px 0;
    }

    .about-company h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 160%;
    }

    .about-company-name {
        max-width: 1160px;
        background: #FFFFFF;
        min-height: 208px;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        position: absolute;
        z-index: 2;
        top: -30px;
        text-align: center;
        padding: 48px 0 20px 0;
    }
.about-modal{
    margin-bottom: 50px;
}
    .about-company-name h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 130%;
        color: #272C3A;
    }

    .about-company-name p {
        width: 70%;
        padding-top: 10px;
        margin: 0 auto;
        color: #646875;
        font-weight: 350;
        font-size: 14px;
        line-height: 140%;
    }

    .about-company-name-substrate {
        max-width: 1080px;
        height: 200px;
        position: relative;
        z-index: 1;
        background: #FDFDFD;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .more-about-company {
        max-width: 520px;
        min-height: 390px;
        /* box-shadow: 0px 16px 40px rgba(36, 43, 111, 0.06); */
        /* border-radius: 5px; */
    }

    .more-about-company-second-section {
        /* padding: 15px 0 0 80px; */

    }

    .more-about-company-second-section h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 140%;
        color: #1F2433;
    }

    .more-about-company-second-section p {
        /* padding: 20px 0 0 0 0; */
        margin-top: 10px;
        font-weight: 350;
        font-size: 20px;
        line-height: 160%;
    }

    .strategy-row-wrapper {
        max-width: 1440px;
        /* max-height: fit-content; */
        background: url(../img/strategy-row-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
        text-align: center;

    }

    .our-strategy {
        padding: 50px 0 80px 0;
    }

    .strategy-wrapper {
        background: #FFFFFF;
        box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.02);
        border-radius: 5px;
        /* max-width: 360px; */
        min-height: 214px;
        padding: 20px 40px 20px 30px;
    }

    .strategy-wrapper p {
        font-style: normal;
        font-weight: 350;
        font-size: 15px;
        line-height: 160%;
        color: #646875;
        text-align: left;
        margin-top: 15px;
    }

    .strategy-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 160%;
        color: #1F2433;
        text-align: left;
    }

    .gallery-wrapper {
        margin: 0 auto;
        max-width: 1440px;
        background: url(../img/gallery-wrapper.jpg);
    }

    .gallery-wrapper h2 {
        color: #ffffff;
        font-weight: bold;
        font-size: 38px;
        line-height: 160%;
    }

    .about-company-gallery {
        padding-top: 50px;
        margin: 0;
    }

    .defending-work-wrapper-wrapper {
        margin: 0 auto;
        max-width: 1440px;
        min-height: 528px;
        background: url(../img/defending-work-wrapper-background.jpg) no-repeat;
        background-size: cover;
    }

    .services-page-wrapper h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 46px;
        line-height: 140%;
        color: #FFFFFF;
        min-width: 360px;
        min-height: 128px;
    }

    .services-page-wrapper p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 200%;
        color: #FFFFFF;
    }

    .services-page-wrapper button {
        background: linear-gradient(257.47deg, #FED578 -2.95%, #FFEA7C 100%);
        box-shadow: 0px 15px 35px rgba(98, 233, 222, 0.1);
        border-radius: 5px;
        border-color: transparent;
        min-width: 220px;
        min-height: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #272C3A;
    }

    .services-page-wrapper button:hover {
        background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
    }

    .services-second-button {
        border: 1px solid #FFEA7C !important;
        background: none !important;
        color: #FED578 !important;
        margin: 15px 0 0 24px;
    }

    .services-second-button:hover {
        background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
    }

    .service-page-wrapper-row {
        padding: 150px 0 150px 0;
    }

    /* .defending-work-wrapper-col h2 {
    max-width: 360px;
    min-height: 128px;
} */
    .industrial-safety {
        background: url(../img/industrial-safety-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .defending-work-wrapper {
        background: url(../img/defending-work-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;

    }

    .fire-safety {
        background: url(../img/fire-safety-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .electrical-safety {
        background: url(../img/electrical-safety-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .contacts-map-wrapper {
        margin: 0 auto;
        min-height: 500px;
        max-width: 1440px;
        border-radius: 5px;
        background: url(../img/contacts-map.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .service-page-wrapper {
        margin: 0 auto;
        min-height: 324px;
        max-height: auto;
        color: #FFFFFF;
        text-align: center;
        max-width: 1440px;
    }

    .services-page-wrapper {
        margin: 0 auto;
        padding-top: 110px;
        min-height: 526px;
        max-height: auto;
        color: #FFFFFF;
        /* text-align: center; */
        max-width: 1440px;
    }

    .page-defending-work-wrapper {
        background-size: cover;
        background-position: center center;
        background: url(../img/page-defending-work-wrapper-background.jpg) no-repeat;
    }

    .industrial-safety-wrapper {
        background: url(../img/industrial-safety-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .aditional-services-background {
        background: url(../img/aditional-services-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .fire-safety-wrapper {
        background: url(../img/fire-safety-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .contacts-background {
        background: url(../img/contacts-background.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .electrical-safety-wrapper {
        background: url(../img/electrical-safety-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;

    }

    .laws-wrapper {
        background: url(../img/laws-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .blog-wrapper {
        background: url(../img/blog-wrapper-background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .price-background {
        background: url(../img/price-background-wrapper.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .service-page-button-links-wrapper {
        min-height: 80px;
        border-bottom: 1px solid #EFF5F9;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        /* padding: 30px 0 20px 0; */
    }

    .button-link-active {
        background: linear-gradient(259.4deg, #FED578 -2.95%, #FFEA7C 100%);
        box-shadow: 0px 6px 16px rgba(255, 234, 124, 0.25);
        border-radius: 5px;
    }

    /* .defending-button-link-active {
    background: linear-gradient(259.4deg, #FED578 -2.95%, #FFEA7C 100%);
    box-shadow: 0px 6px 16px rgba(255, 234, 124, 0.25);
    border-radius: 5px;
    max-width: 142px;
    height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} */

    .defending-button-link {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: justify;
    }

    .service-page-button-links-wrapper a {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #646875;
    }

    .h2-normal-style {
        font-weight: bold;
        font-size: 38px;
        line-height: 140%;
        color: #1F2433;
        margin: 0 auto;
    }

    .h2-white-style {
        font-weight: bold;
        font-size: 38px;
        line-height: 140%;
        color: #ffffff;
    }


    .page-service-learning {
        padding: 50px 0 0 0;
    }

    .page-service-learning p {
        margin: 25px 0 0 0;
    }

    .page-service-kwnoladge {
        padding: 50px  0;
    }

    .page-service-page-kwnoladge p {
        margin: 25px 0 0 0;
    }

    .p-normal-style {
        font-weight: 350;
        font-size: 16px;
        line-height: 160%;
        color: #646875;
    }

    .p-grey-style {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .service-page-button-test {
        background: linear-gradient(255.15deg, #FED578 -2.95%, #FFEA7C 100%);
        box-shadow: 0px 6px 25px rgba(255, 188, 57, 0.3);
        border-radius: 5px;
        border: 1px solid transparent;
        width: 280px;
        height: 64px;
        margin: 50px 0 0 0;
    }

    .service-page-button-test p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #272C3A;
    }

    .service-page-button-test:hover {
        text-decoration: none;
        background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
    }

    .personal-education-wrapper {

        min-height: 739px;
        max-height: auto;
        color: #FFFFFF;
        text-align: center;
        max-width: 1440px;
        background: #252538;
        margin: 0 auto;
        /* padding: 50px 0 0 0; */
        padding-bottom: 70px;
    }

    .personal-education-row {
        /* text-align: center; */
        padding: 50px 0 0 0;
    }

    .personal-education-p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
        color: #5A5C77;
        width: 72%;
        margin: 0 auto;
    }

    .personal-education-cart {
        margin: 0 auto;
        /* max-width: 260px; */
        min-height: 400px;
        max-height: auto;
        border-radius: 15px 15px 0 0;
        padding: 24px 24px 0 24px;
        text-align: left;
    }

    .personal-education-cart-clock {
        margin: -3px 5px 0 0;
    }

    .personal-education-row-h2 {
        margin: 0 auto;
    }

    .personal-education-cart h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
    }

    .personal-education-cart-description {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 15px 0 0 0;
        text-align: left;
    }

    .personal-education-cart-link {
        border-radius: 0 0 15px 15px;
        /* max-width: 260px; */
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .personal-education-cart-link a {
        color: #ffffff;
    }

    .personal-education-cart-row {
        padding: 66px 0 0 0;
    }

    .personal-education-cart-first-background {
        background: linear-gradient(224.08deg, #41A1DA 27.1%, #38BADE 100%);
    }

    .personal-education-cart-first-background-link {
        background: #29A2D5;
        box-shadow: 0px 15px 65px rgba(35, 78, 129, 0.1);
    }

    .personal-education-cart-second-background {
        background: linear-gradient(44.08deg, #439AD8 0%, #4D80D6 72.9%);
    }

    .personal-education-cart-second-background-link {
        background: #3B85D0;
        box-shadow: 0px 15px 65px rgba(35, 78, 129, 0.1);
    }

    .personal-education-cart-third-background {
        background: linear-gradient(44.08deg, #507AD5 0%, #5960D1 72.9%);
    }

    .personal-education-cart-third-background-link {
        background: #4C69CA;
        box-shadow: 0px 15px 65px rgba(35, 78, 129, 0.1);
    }

    .personal-education-cart-fourth-background {
        background: linear-gradient(44.08deg, #5953CF 0%, #6B48CE 72.9%), #C4C4C4;
    }

    .personal-education-cart-fourth-background-link {
        background: #5347C2;
        box-shadow: 0px 15px 65px rgba(35, 78, 129, 0.1);
    }

    .benefits-of-our-education-wrapper {
        margin: 0 auto;
        max-height: auto;
        color: #FFFFFF;
        text-align: center;
        max-width: 1440px;
        background: #F6F8FC;
        padding-bottom:80px;

    }

    .benefits-of-our-education-title-row {
        padding: 60px 0 40px 0;
    }

    .benefits-of-our-education-parent {
        margin: 0 auto;
        max-width: 1160px;
        min-height: 364px;
        border-radius: 16px;
        background: #ffffff;
    }

    .benefit-of-our-education-title {
        font-weight: bold;
        padding: 15px 20px 0 20px;
        font-size: 18px;
        text-align: left;
        line-height: 140%;
        color: #272C3A;
    }

    .benefit-of-our-education-description {
        font-weight: 350;
        padding: 20px;
        text-align: left;
        font-size: 14px;
        line-height: 140%;
        color: #646875;
    }

    .benefits-of-our-education-parent-border {
        border-right: 1px solid #F2F2F2;
        min-height: 364px;
    }

    .benefit-of-our-education-image {
        text-align: left;
        padding: 15px 20px 0 20px;
    }

    .stages-of-cooperation {
        padding: 50px 0 0 0;
    }

    .stage-of-cooperation-wrapper {
        background: #F9F9F9;
        border-radius: 10px;
        box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.02);
        /* max-width: 360px; */
        min-height: 214px;
        margin: 40px 0 0 0;
        padding: 20px 40px 20px 30px;
    }

    .stage-of-cooperation-wrapper p {
        font-style: normal;
        font-weight: 350;
        font-size: 15px;
        line-height: 160%;
        color: #646875;
        text-align: left;
        margin-top: 15px;
    }

    .stage-of-cooperation-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 160%;
        color: #1F2433;
        text-align: left;
    }

    .form-wrapper {
        max-width: 1160px;
        min-height: 546px;
        padding: 60px 0 50px 0;
        margin:70px auto;
        border: 10px solid #ffe07a;
        outline-offset: -10px;
        background: #FFFFFF;
        box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.05);
    }

    .form-women-background {
        width: 329px;
        min-height: 465px;
        top: -72px;
        position: absolute;
        background: url(../img/form-women-background-image.png);
    }

    .form-row {
        margin: 20px 0 0 0;
    }

    .form-control {
        border-bottom: 2px solid #F2F2F2;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .form-check-content {
        margin-left: 26px;
    }
    .form-group label {

        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9EA2B3;
    }

    .form-col-margin {
        padding-left: 40px;
    }

    .form-my-own-button {
        width: 141px;
        height: 56px;
        color: #272C3A;
        background: linear-gradient(261.32deg, #FED578 -2.95%, #FFEA7C 100%);
        box-shadow: 0px 6px 25px rgba(255, 188, 57, 0.3);
        border-radius: 5px;
        border-color: transparent;
    }

    .form-my-own-button:hover {
        text-decoration: none;
        color: #272C3A;
        background: linear-gradient(254.74deg, #d4b36b -2.95%, rgb(189, 172, 90) 100%);
    }


    .form-my-own-checkbox-text {
        font-weight: 350;
        /* width: 40%; */
        font-size: 14px;
        line-height: 160%;
        color: #272C3A;
    }

    .fire-safety-list ul {
        list-style: none;
    }

    .fire-safety-list ul li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #439AD8;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em;
        /* Also needed for space (tweak if needed) */
    }

    .fire-safety-list-item {
        padding-right: 137px;
        font-size: 16px;
    }

    .fire-safety-list-items {
        margin-top: 24px;
        margin-left: 15px;
    }

    .fire-safety-page-padding {
        padding-bottom: 50px;
    }

    .fire-safety-white-span {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        margin-top: 50px;
        line-height: 35px;
        /* opacity: 1!important; */
        color: #FFFFFF;
    }

    .fire-safety-opacity-span {
        opacity: 0.7;
    }

    .aditional-services-wrapper {
        margin: 0 auto;
        max-width: 1440px;
        background: #F2F2F2;
        padding: 70px 0 100px 0;
    }

    .aditional-services-row {
        background: #ffffff;
        border-radius: 8px;
        padding: 50px;
        margin: 0 0 25px 0;
    }

    .h2-aditional-services {
        color: #1F2433;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 47px;
    }

    .p-aditional-services {
        font-style: normal;
        font-weight: 350;
        font-size: 18px;
        line-height: 27px;
        color: #646875;
    }

    .contacts-information {
        max-width: 1160px;
        background: #FFFFFF;
        min-height: 152px;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        position: relative;
        z-index: 2;
        top: -80px;

    }

    .contacts-information-substrate {
        max-width: 1080px;
        min-height: 140px;
        position: relative;
        z-index: 1;
        top: -200px;
        background: #FDFDFD;
        box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-form-margin {
        margin: 10px auto;
    }

    .p-contacts-style {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        margin-top: 15px;
        color: #414551;
    }

    .contacts-section-title {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #282530;
        display: inline-block;
    }

    .contacts-address img {
        margin: 0 15px 0 0;
    }

    .contacts-section {
        min-width: 350px;
        max-height: 73px;
        padding: 48px 0 20px 70px;
    }

    .contacts-section ul {
        list-style: none;
    }

    .contacts-section ul li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #66D1FF;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em;
        /* Also needed for space (tweak if needed) */
    }

    .p-contacts-style a {
        color: inherit;
    }

    .laws-list h2 {
        padding-bottom: 25px;
    }

    .laws-list {
        padding: 120px 0 0 0;
    }

    .laws-list ul {
        list-style: none;
    }

    .laws-list ul li {
        padding: 20px 0 0 0;
    }

    .laws-list ul li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #439AD8;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em;
        /* Also needed for space (tweak if needed) */
    }

    .laws-margin {
        margin-bottom: 120px;
    }

    .news-contariner {
        margin-top: -40px;
    }

    .card {
        border: none;
        background: #F9FCFD;
        ;
    }

    .card-text {
        font-size: 16px;
        line-height: 180%;
        margin: 20px 0 70px 0;
    }

    .card-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #282530;
    }

    .card-footer button img {
        margin-left: 20px;
    }

    .card-footer {
        min-width: 265px;
        min-height: 65px;
        border: none;
        background: none;
    }

    .card-footer button {
        min-width: 265px;
        min-height: 65px;
        border: transparent;
        border-radius: 100px;
        background: url(../img/blog-button-background.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .card-footer button:hover {
        background: linear-gradient(238.73deg, #7AC7FF 27.31%, #76E6FF 100%);
        box-shadow: 0px 35px 65px rgba(120, 212, 255, 0.05);
        border-radius: 100px;

    }

    .price-row {
        padding-top: 50px;
    }

    .price-table {
        border: 10px solid transparent;
        border-radius: 50px;
    }

    .price-h2 {
        text-align: center;
    }

    .table thead th {
        border-right: 2px solid #F2F2F2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .thead-yellow {
        border: none;
        background: linear-gradient(220.48deg, #FED578 -2.95%, #FFEA7C 100%);
    }

    .table-striped tr td {
        border-right: 2px solid #f3f3f3;
        border-left: 2px solid #f3f3f3;
        border-top: none;
        border-bottom: 2px solid #f3f3f3;
    }

    .table-striped tbody tr:nth-of-type(odd) {}

    div.blueTable {
        background-color: #ffffff;
        text-align: left;
        border-collapse: collapse;
    }

    .divTable.blueTable .divTableCell,
    .divTable.blueTable .divTableHead {
        border: 1px solid #f3f3f3;
        /* padding: 10px 0px; */
    }

    .divTable.blueTable .divTableBody .divTableCell {
        font-size: 16px;
    }

    .divTable.blueTable .divTableRow:nth-child(even) {
        background: #f9f9f9;
    }

    .divTable.blueTable .divTableHeading {

        text-transform: uppercase;
        background: linear-gradient(220.48deg, #FED578 -2.95%, #FFEA7C 100%);
        /* background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%); */
        /* background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%); */
        /* background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%); */
    }

    .divTable.blueTable .divTableHeading .divTableHead {
        font-size: 12px;
        height: 60px;
        text-align: start;
        vertical-align: middle;
        font-weight: bold;
        color: #272C3A;
        border-left: 1px solid #f3f3f3;
    }

    .divTable.blueTable .divTableHeading .divTableHead:first-child {
        border-left: none;
    }

    .table-first-row {
        width: 60%;
        vertical-align: middle;
        padding-right: 110px;
        padding-left: 30px;
    }

    .blueTable .tableFootStyle {
        font-size: 14px;
    }

    .blueTable .tableFootStyle .links {
        text-align: right;
    }

    .blueTable .tableFootStyle .links a {
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }

    .blueTable.outerTableFooter {
        border-top: none;
    }

    .blueTable.outerTableFooter .tableFootStyle {
        padding: 3px 5px;
    }

    /* DivTable.com */
    .divTable {
        overflow: scroll;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
        height: 100px;
    }

    .divTableHeading {
        display: table-header-group;
        height: 60px;
    }

    .divTableCell,
    .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }

    .table-cell-center {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }

    .extra-cell {
        vertical-align: middle;
        height: 48px;
        border: 1px solid #f3f3f3;
        padding: 10px;
    }

    .head-row {
        height: 60px;
    }

    @media screen and (min-width:768px) and (max-width:1024px){
        .extra-cell{
            height: 60px;
        }
    }


    .blog-page{
        margin-top: 40px;
    }

    .blog-page h4{
        font-size: 35px;
        line-height:35px;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
        color: #11214a;
        margin-bottom: 15px;
    }
    .blog-page p{
        font-size: 16px;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
        color: #000;
        margin-bottom: 15px;
    }
    .blog-content{
        display: flex;
    justify-content: center;
    margin: 40px 0;
    }
    .blog-text p{
        font-size: 16px;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
        color: #000;
        margin-bottom: 15px;
    }
    .blog-text p>a{
        color: #4c629b;
        font-size: 25px;
    font-weight: 600;
    }

  .blog-info h1{
    line-height: 42px;
    font-size: 42px;
    font-weight: 400;
    color: #4e608a;
    margin-bottom: 15px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  .blog-info li{
    color: #737E86;
    font-size: 16px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
    margin-bottom: 15px;
  }
  .related-posts h3{
      margin: 30px 0;
    color: #20366d;
    font-size: 22px;
    font-weight: 400;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  .related-posts button{
    padding: 11px 20px;
    color: #747474;
    border: none;
  }
  .about-blog{
    background-color: #4c629b;
  }
  .related-posts {
      margin-top: 2rem;
  }
  .related-posts img{
      width: 100%;
      height: 150px;
  }
  .posts-btn{
      margin-top: 3rem;
  }
  .posts-btn3{
      margin-top: 1rem;
  }
